html, body {
    height: 100%;
}

.pref-icon {
    width: 56px;
    background: url(../images/icon32.png) center center no-repeat !important;
}

.palm-page-header .title.center {
    text-align: center;
    padding-right: 56px;
}


/* Scene Fades */

.scene-fade {
    height: 54px;
    width: 100%;
    position: fixed;
    left: 0px;
    z-index: 1000;
    -webkit-palm-mouse-target: ignore;
}

.scene-fade.top {
    top: 0px;
    background: url(../images/fade-top.png) repeat-x center bottom;
}

.scene-fade.bottom {
    bottom: 0px;
    background: url(../images/fade-bottom.png) repeat-x center bottom;
}


/* Styles for TouchPad */

.touchpad {
    width: 400px !important;
    margin: auto !important;
}

.hide { display: none; }
.show { display: block !important; }
