<div class="palm-page-header multi-line">
  <div class="palm-page-header-wrapper">
    <div class="pref-icon"><img src="images/icon32.png"></img></div>
    <div class="title">Einstellungen</div>
  </div>
</div>

<div class="palm-group">
  <div class="palm-group-title">Beim Start</div>
  <div class="palm-list">
    <div class="palm-row first">
      <div x-mojo-element="ListSelector" id="selectStartSeries"></div>
    </div>
    <div class="palm-row last">
      <div x-mojo-element="ListSelector" id="selectStartUnit"></div>
    </div>
  </div>
</div>

<div class="palm-group">
  <div class="palm-group-title">Umrechnung in Pixel</div>
  <div x-mojo-element="ListSelector" id="selectDPI"></div>
</div>
<div class="palm-info-text">Zum Vergleich: 300 und 600 DPI sind
typische Auflösungen für Drucker, 96 DPI ist eine übliche (aber bei
weitem nicht die einzige!) für Computerbildschirme; das Pre und Pre
Plus haben 186 DPI.</div>

<div class="palm-group">
  <div class="palm-group-title">Seitenverhältnis</div>
  <div x-mojo-element="ListSelector" id="selectAspect"></div>
</div>
<div class="palm-info-text">Mit dem Format „Verhältniszahl“ wird das
Seitenverhältnis in der Art „1:1,5“ angezeigt, mit „Bruch“ in der Art
„2:3“.</div>
